<div class="line">
	<mat-form-field appearance="outline">
		<mat-label>Chouse User</mat-label>
		<mat-select>
			<mat-option value='0'>
				От А до Я
			</mat-option>
			<mat-option value='1'>
				От Я до А
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>Поиск</mat-label>
		<input matInput placeholder="Найти пользователя">
	</mat-form-field>
</div>

<h2>{{title}}</h2>
<mat-selection-list #users>
	<mat-list-option *ngFor="let user of usersList; let idx = index" [ngClass]="{'gray' : idx % 2 }">
		<div>
			<span class="item"> {{user.username}}</span>
			<span class="item"> {{user.name}}</span>
			<span class="item" *ngIf="user.role === 'Admin'"> {{user.role}}</span>
		</div>
	</mat-list-option>
</mat-selection-list>

<hr>
<p>
	Options selected: {{users.selectedOptions.selected.length}}
</p>
